<h1>Listing articles</h1>

<button type="button" class="btn btn-info"><%= link_to 'New article', new_article_path %></button>

<table class="table">
  <tr>
    <th scope="row">Title</th>
    <th scope="row">Text</th>
    <th colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>
  <tr>
    <td class="panel-body transparent"><%= article.title %></td>
    <td class="panel-body transparent"><%= article.text %></td>
    <td class="panel-body transparent"><%= link_to 'Show', article_path(article) %></td>
    <td class="panel-body transparent"><%= link_to 'Edit', edit_article_path(article) %></td>
    <td class="panel-body transparent"><%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table>
